@use'./config-scss/variable.scss';
@use'./config-scss/reset.scss';
@use'./config-scss/rem-calc.scss';

html {
	font-family: 'Roboto', sans-serif;
	background: var(--primary-color);
}

main {
	max-width: rem-calc(600);
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
}

